.navbar-nav>.user-menu .user-image {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -4px;
  background: #2f7299;
  padding-left: 3px;
  padding-top: 2px;
}

.material-icons.person{
  font-size: 24px;
  color: #ffffff;
}

.dropdown-menu{
  box-shadow: 5px 0px 13px #C9C9C9 !important;
}

.main-header .navbar {
    background-color: #263238;
}

.main-header .logo {
    background-color: #263238;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.toggle-title {
      padding-top: 15px;
    position: absolute;
    color: white;
}
