<aside class="main-sidebar">

  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <!--active treeview-->
      <li class=" treeview">
        <a href="#">
          <i class="fa fa-th"></i>
          <span>Owner</span>
          <span class="pull-right-container">
              <!--<span class="label label-primary pull-right">4</span>-->
            </span>
        </a>
        <ul class="treeview-menu">
          <li [routerLinkActive]="['active']"><a [routerLink]="['owner/assign-taxi-for-owners']"><i class="fa  fa-hand-o-right"></i> Owner Vehicle Info</a></li>
        </ul>
      </li>
      <!--<li class=" treeview">
        <a href="#">
          <i class="fa fa-th"></i>
          <span>Driver</span>
          <span class="pull-right-container">
              &lt;!&ndash;<span class="label label-primary pull-right">4</span>&ndash;&gt;
            </span>
        </a>
        <ul class="treeview-menu">
          <li [routerLinkActive]="['active']"><a [routerLink]="['owner/driver-profile-status-location']"><i class="fa  fa-hand-o-right"></i> Driver Info And Location</a></li>
        </ul>
      </li>-->

    </ul>

  </section>
  <!-- /.sidebar -->
</aside>
