<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
    	
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
  	<div class="row">
  		<div class="col-md-10"><h4 style="padding-left: 9px;">Driver Performance</h4></div>
  		<div class="col-md-2 driver-id"><span>Driver ID : {{ driverId }}</span></div>
  	</div>
   
		<form class="example-form" #f="ngForm" (ngSubmit)="onSubmit()">
			<div class="row user-menu">
				<div class="col-md-4">
					
				</div>
				
				<div class="col-md-8">
					<!--<button class="col-md-3" mat-button color="primary" style="background: #f1f1f1;margin-bottom: 4px;">Dashboard</button>-->
					<button class="col-md-3 space  pull-right" [routerLink]="['/owner', driverId,'driver-finance-statement']" mat-button color="primary" style="background: #f1f1f1;margin-bottom: 4px;">Finance Statement</button>
					<button class="col-md-3 space active  pull-right" [routerLink]="['/owner', driverId,'driver-performance']"  mat-button color="primary" style="background: #f1f1f1;margin-bottom: 4px; display: none">Driver Performance</button>
					<button class="col-md-3 space  pull-right" [routerLink]="['/owner', driverId,'trip-breakdown']" mat-button color="primary" style="background: #f1f1f1;margin-bottom: 4px;">Trip Breakdown</button>
				</div>
			</div>
			<br>

			<div class="row user-menu">
				<div class="col-md-2">
					<mat-form-field>
						<input matInput [matDatepicker]="dateF" [(ngModel)]="driverSearchData.dateF" name="dateF" id="dateF" placeholder="Choose a Date">
						<mat-datepicker-toggle matSuffix [for]="dateF"></mat-datepicker-toggle>
						<mat-datepicker #dateF></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-md-2">
					<mat-form-field>
						<input matInput [matDatepicker]="dateT" name="dateT" [(ngModel)]="driverSearchData.dateT"  id="dateT" placeholder="Choose a Date">
						<mat-datepicker-toggle matSuffix [for]="dateT"></mat-datepicker-toggle>
						<mat-datepicker #dateT></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-md-1" style="padding-bottom: 30px;">
					<button class="pull-right" mat-fab style="background: #00d14e;width: 40px;height: 40px;padding-bottom: 15px;"><i class="material-icons" style="color: white;font-size: 24px;margin-top: -14px;margin-left: 4px;">search</i></button>
				</div>
				<div class="col-md-1">
					<button class="pull-right" (click)="downloadPDF()" mat-fab style="background: #00ca6d;width: 40px; margin-left: 600px; height: 40px;padding-bottom: 15px;"><i class="material-icons" style="color: white;font-size: 24px;margin-top: -14px;">get_app</i></button>
				</div>
				<div class="col-md-4">
					<div class="row">
					<div class="col-md-10">
						<div class="col-md-3"></div>
						<div class="col-md-2"><span class="driver-attr">Completed</span><br> <span class="att-value">{{ requestSummary.totalTripCount }}</span>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-2"><span class="driver-attr">Earning</span><br> <span class="att-value">{{ requestSummary.billingRevenue }}</span>
						</div>
						
					</div>
						
					</div>
				</div>

			</div>

		</form>
  
    <br>
	<div class="msg-data"></div>

	<div class="row">
    	
    </div>

  </mat-card-content>

	<div class="col-md-12">
			<div class="example-container mat-elevation-z8">
				<table class="table table-hover table-bordered " id="data-table">
					<thead>
					<tr class=" warning">
						<th>Date</th>
						<th>Total</th>
						<th>ITC</th>
						<th>Missed</th>
						<th>No of Hours</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let driver of requestData; let i = index">
						<td>{{ driver.date }}</td>
						<td>{{ driver.trip_count }}</td>
						<td>{{ driver.itc_count }}</td>
						<td>{{ driver.missedHires }}</td>
						<td>{{ driver.online_time }}</td>
					</tr>
					</tbody>
				</table>
			</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				<div class="pg-count">{{ current_page}} of {{ total_pages}} Pages</div>
				<div class="pagination">
					<button class="paginate-button-next" mat-mini-fab [disabled]="checkNxtBtnClick()" (click)="viewDriverPerformance(current_page-1)">
						<i class="material-icons">keyboard_arrow_left</i>
					</button>
					<button class="paginate-button-previous" mat-mini-fab [disabled]="checkPrvBtnClick()" (click)="viewDriverPerformance(current_page+1)">
						<i class="material-icons">keyboard_arrow_right</i>
					</button>

				</div>
			</div>
		</div>

	</div>
  
</mat-card>