.example-form {
	    padding-left: 10px;
}

.space {
	margin-right: 5px !important;
}

.active {
	border-bottom: 3px solid #00d14e;
}

.scroll {
  overflow-x: scroll;
}

.iconStyle {
  color: white;
  font-size: 24px;
  margin-top: -14px;
}

.iconBackground{
  background: #00d14e;
  width: 40px;
  height: 40px;
  padding-bottom: 15px;
}
