<div class="login-box" *ngIf="!logged">

  <!-- /.login-logo -->
  <div class="login-box-body">

    <mat-card class="login-panel">

      <div class="login-logo">
        <img [src]="logoImage" />
        <span class="login-panel-title">{{projectTitle}}</span>
      </div>

      <div class="msg-data"></div>

      <form (ngSubmit)="login()" #passengerForm="ngForm">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width field-max-width">
              <input [disabled]="buttonStatus" matInput placeholder="Phone Number" number name="phone" id="phone" [minlength]="9"  [maxlength]="9" [(ngModel)]="loginFormData.phone" #phone="ngModel" value="" />
            </mat-form-field>
            <p class="form-error" *ngIf="phone?.errors?.number">Please type the number</p>
            <div class="error">{{loginEmailMgs}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width field-max-width">
              <input [disabled]="buttonStatus"  type="password" matInput placeholder="Password" name="password" [(ngModel)]="loginFormData.password"  value="">
            </mat-form-field>
            <div class="error">{{loginPasswordMgs}}</div>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="col-md-12">
            <div class="button-row">
              <span *ngIf="buttonStatus" class="error">Please Wait : {{ countDown }} seconds</span>
              <button [disabled]="buttonStatus" mat-raised-button class="pull-right btn btn-primary btn-flat" color="primary">Submit</button>
            </div>
          </div>
        </div>
      </form>

    </mat-card>

  </div>

  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
