
.mat-form-field {
  width: 100%;
}

.login-box, .register-box {
  width: 400px;
}

.login-box-body, .register-box-body {
  background: transparent;
}

.login-panel{
  background:rgba(255,255,255,.5);
  border-bottom: #3C8DBC 3px solid;
}

.login-panel:hover{
  background:rgba(255,255,255,1);
  -o-transition:.9s;
  -ms-transition:.9s;
  -moz-transition:.9s;
  -webkit-transition:.9s;
  transition:.9s;
}

.login-panel-title{
  display: block;
  font-size: 14px;
  margin-top: 17px;
  margin-bottom: -5px;
  color: #939393cc;
  font-weight: 400!important;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.login-logo img{
  width: 156px;
}

.error{
  color: #cb2027;
  font-size: 12px;
}
