<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
    	<h4 class="title">Driver Profile Status and Location</h4>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
  	<div class="row">
  		<div class="col-md-10 driver-info"><span>Driver Info</span></div>
  		<div class="col-md-2 driver-id"><span>Driver ID : {{ requestData.id }}</span></div>
  	</div>

	  <div class="msg-data"></div>

	  <mat-progress-bar *ngIf="dataLoading" mode="indeterminate"></mat-progress-bar>

		<form class="example-form" *ngIf="!dataLoading">
			<div class="row user-menu">
				<div class="col-md-4">
					<div class="col-xs-6">Status</div>
					<div class="col-xs-6 status">{{ requestData.profile_status == "A" ? 'Active': 'Inactive' }}</div>
					<br><br>
					<div class="col-xs-6 driver-details">ID</div>
					<div class="col-xs-6 driver-details">{{ requestData.id }}&nbsp;</div>
					<div class="col-xs-6 driver-details">Name</div>
					<div class="col-xs-6 driver-details">{{ requestData.name }}&nbsp;</div>
					<div class="col-xs-6 driver-details">Device Number</div>
					<div class="col-xs-6 driver-details">{{ requestData.phone }}&nbsp;</div>
					<div class="col-xs-6 driver-details">Emergency Number</div>
					<div class="col-xs-6 driver-details">{{ requestData.emergencyNumber }}&nbsp;</div>
					<div class="col-xs-6 driver-details">Address</div>
					<div class="col-xs-6 driver-details">{{ requestData.permanentAddress }}&nbsp;</div>
					<div class="col-xs-6 driver-details">Device Model</div>
					<div class="col-xs-6 driver-details">{{ requestData.deviceName }}&nbsp;</div>
					<div class="col-xs-6 driver-details">Date of Birth</div>
					<div class="col-xs-6 driver-details">{{ requestData.dob }}&nbsp;</div>
					<div class="col-xs-6 driver-details">Vehicle Type</div>
					<div class="col-xs-6 driver-details">{{ requestData.vehicleType }}&nbsp;</div>
					<div class="col-xs-6 driver-details">Vehicle Model</div>
					<div class="col-xs-6 driver-details">{{ requestData.taxiModel }}&nbsp;</div>
					<div class="col-xs-6 driver-details">Plate Number</div>
					<div class="col-xs-6 driver-details">{{ requestData.taxiNumber }}&nbsp;</div>
					<div class="col-xs-6 driver-details">Joined Date</div>
					<div class="col-xs-6 driver-details">{{ requestData.joinedDate }}&nbsp;</div>
				</div>

				<div class="col-md-8">

          <div class="row">
					<!--<button class="col-md-3" mat-button color="primary" style="background: #f1f1f1;margin-bottom: 4px;">Dashboard</button>-->
					<button class="col-md-3 space pull-right" [routerLink]="['/owner', requestData.id,'driver-finance-statement']" mat-button color="primary" style="background: #f1f1f1;margin-bottom: 4px;">Finance Statement</button>
					<button class="col-md-3 space pull-right" [routerLink]="['/owner', requestData.id,'driver-performance']"  mat-button color="primary" style="background: #f1f1f1;margin-bottom: 4px; display: none">Driver Performance</button>
					<button class="col-md-3 space pull-right" [routerLink]="['/owner', requestData.id,'trip-breakdown']" mat-button color="primary" style="background: #f1f1f1;margin-bottom: 4px;">Trip Breakdown</button>

          </div>
					<div class="col-md-12 map-area">
						<h4>{{ title }}</h4>

						<agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
							<agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon" ></agm-marker>
						</agm-map>

					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-md-4">

				</div>

				<div class="col-md-8">

					<!--<div class="col-md-3"> <span hidden class="driver-attr">Rating</span> <br> <span hidden class="att-value">4.2</span> &lt;!&ndash;<img src="https://vignette.wikia.nocookie.net/crashfever/images/0/08/Yellow-star-icon-2094.png/revision/latest?cb=20161104012415&path-prefix=zh" width="26px" style="margin-top:-10px;">&ndash;&gt;</div>
					<div class="col-md-3" hidden><span class="driver-attr">Completed</span><br> <span class="att-value">2348</span> </div>
					<div class="col-md-3" hidden><span class="driver-attr">Earnings</span><br> <span class="att-value">234545</span> </div>
					<div class="col-md-3" hidden><span class="driver-attr">Balance</span><br> <span class="att-value">23434</span> </div>
        -->
				</div>

			</div>

		</form>

    <br>
    <div class="row">

    </div>
  </mat-card-content>

</mat-card>
