<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
    	<h4>Owner Vehicle Informations</h4>
    </mat-card-title>
  </mat-card-header>
 <br>
  <mat-card-content>
    <div class="row">
		<!--<form class="example-form search_form" #f="ngForm">-->

			<div class="col-md-6">
				<div class="row">
					<div class="col-md-7">
						<mat-form-field class="example-full-width">
              <input name="search_keyword" (keyup.enter)="onSubmit()" maxlength="256" id="search_keyword" matInput placeholder="Search by Driver Name, Plate Number" [(ngModel)]="ownerSearchData.search_keyword">
          </mat-form-field>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-5">
						<mat-form-field>
						  <input matInput [matDatepicker]="dateF" [(ngModel)]="ownerSearchData.dateF" name="dateF" id="dateF" placeholder="Choose a Date">
						  <mat-datepicker-toggle matSuffix [for]="dateF"></mat-datepicker-toggle>
						  <mat-datepicker #dateF></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</div>
    		<div class="col-md-5">
    			<div class="row">
    				<div class="col-md-4">
              <mat-form-field>
                <input matInput [matDatepicker]="dateT" name="dateT" [(ngModel)]="ownerSearchData.dateT"  id="dateT" placeholder="Choose a Date">
                <mat-datepicker-toggle matSuffix [for]="dateT"></mat-datepicker-toggle>
                <mat-datepicker #dateT></mat-datepicker>
              </mat-form-field>
					</div>
            <div class="col-md-4">

              <button class="pull-left" mat-raised-button color="primary" (click)="clearFeilds()">Reset</button>
            </div>

            <div class="col-md-4">

              <button class="pull-right" (click)="onSubmit()" mat-raised-button color="primary">Generate Report</button>

            </div>

    			</div>
    		</div>
		<!--</form>-->
    </div>
    <br>

    <div class="msg-data"></div>

    <div class="example-container mat-elevation-z8">

     <mat-progress-bar *ngIf="dataLoading" mode="indeterminate"></mat-progress-bar>

      <div class="tableScroll">

      <table class="table table-hover table-bordered" *ngIf="!dataLoading" id="data-table">
          <thead>
          <tr class=" warning">
              <th>S.NO</th>
              <th>Driver ID</th>
              <th>Driver Name</th>
              <th>Vehicle Type</th>
              <th>Plate Number</th>
              <th>Address</th>
              <th>Status</th>
              <th>View</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let owner of requestData; let i = index">
              <td>{{ (i +1) }}</td>
              <td>{{ owner.id }}</td>
              <td>{{ owner.name }}</td>
              <td>{{ owner.type }}</td>
              <td>{{ owner.number }}</td>
              <td>{{ owner.address }}</td>
              <td>{{ owner.status == 'A' ? 'Active': 'Inactive' }}</td>
              <td align="center">
                  <a matTooltip="View" matTooltipPosition="below" [routerLink]="['/owner', owner.id,'driver-profile-status-location']"><i class="material-icons">account_circle</i></a>
              </td>
          </tr>

          </tbody>

      </table>

      </div>

  </div>

    <div class="row">
          <div class="col-md-12">
              <div class="pull-right">
                  <div class="pg-count">{{ current_page}} of {{ total_pages}} Pages</div>
                  <div class="pagination">
                      <button class="paginate-button-next" mat-mini-fab [disabled]="checkNxtBtnClick()" (click)="listOwnerInfo(current_page-1)">
                          <i class="material-icons">keyboard_arrow_left</i>
                      </button>
                      <button class="paginate-button-previous" mat-mini-fab [disabled]="checkPrvBtnClick()" (click)="listOwnerInfo(current_page+1)">
                          <i class="material-icons">keyboard_arrow_right</i>
                      </button>

                  </div>
              </div>
          </div>

      </div>

  </mat-card-content>

</mat-card>
