.example-card {
  max-width: 100%;
  margin-left:10px;
  margin-right: 10px;
  margin-top: 15px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-form {
	    padding-left: 10px;
}

.mat-calendar-table-header th {
    text-align: center;
    padding: 10px 0 8px 0 !important;
}

.mat-calendar-table-header-divider {
	display: none !important;
}
.tableScroll{
  overflow-x: scroll;
}
